@using Athena_web.Controllers
@using Athena_web.Models
@using Athena_web.ViewModel
@model Athena_web.ViewModel.ProjetosControllerViewModel
<div class="menuFeature">
    <!-- no momento só tem projetos -->
    <div class="featureProjeto">
        Projetos
    </div>

    <div class="listaProjetos">
        <!-- no momento ela vai estar com display: none. A idéia é que ela apareça só quando você clica em projetos -->
        <ul>
            @foreach (var projeto in Model.Projetos)
            {
                <li>@projeto.Nome</li>
            }
        </ul>
    </div>
</div>
