/*Cores
Azul athena(para Background): #a2d8cb
Azul athena (para textos):  #95c6bb
Branco gelo: #f9f9f9
Cinza escuro: #7e7e7e
Cinza Claro: #e7e7e7

Verde atividades: #a7d8a2
Roxo atividades: #ada2d8
Laranja Atividades: #d8bea2

*/

/*
fontes:
    font-family: 'Roboto', sans-serif;
    font-family: 'Contrail One', cursive;
*/

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('../fonte/Roboto-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Contrail One', cursive;
  src: url('../fonte/ContrailOne-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

*{
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #7e7e7e;
}

html{
  height: 100%;
}

body{
  height: 100%;
  background-color: #e7e7e7;
}

li{
  text-decoration: none;
}

a{
  text-decoration: none;
}

/*************************
* Landing
*************************/

.navegacao{
  height: 114%;
  background-image: url("../img/header-img.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: white;
  display:block;
}

.logoLanding{
  margin-left: 20px;
  height: 150px;
  background-image: url("../img/logoLanding.png");
  background-repeat: no-repeat;
  background-position: left;

}

.navegacao nav li{
  margin: 50px 25px 0px 25px;
  float: right;
  list-style-type: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-family: 'Contrail One', cursive;
  font-size: 25px;
}

.navegacao nav li button{
  border-radius: 20px;
  background-color: white;
  border: none;
  color: #95c6bb;
  font-family: 'Roboto', sans-serif;
  font-family: 'Contrail One', cursive;
  font-size: 25px;
  padding: 0px 20px 0px 20px;
  margin-right: 10px;
}

.header{
  height: 550px;
}

.apresentacao{
  width: 40%;
  float: left;
  margin-left: 3%;
  margin-top: 18%;
  text-align: center;
}

.btn1{
  background-color: #a2d8cb;
  border: none;
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  margin: 50px 20px 0px 0px;
}

.btn2{
  background-color: transparent;
  border: solid;
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  margin: 50px 20px 0px 20px;
}

.header h1{
  font-size: 20px;
}

.header h1 span{
  color: #95c6bb;
}

.sobre{
  background-color: #7e7e7e;
  display: inline-flex;
  width: 100%
}

.sobre h4{
  color: white;
  text-align: center;
  font-size: 22px;
  padding-bottom: 15px;
}

.sobre p{
  color: white;
}

.motivo1{
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 30px 100px 50px 100px;
}

.motivo1Imagem{
  background-image: url("../img/motivo1.png");
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  background-position: left;
  display: flex;
  margin-left:60px;

}

.motivo1texto{
  width: 250px;
  text-align: justify;
}

.motivo2{
  display: block;
  height: 100%;
  width: 100%;
  text-align: justify;
  margin: 30px 100px 10px 100px;
}


.motivo2Imagem{
  background-image: url("../img/motivo2.png");
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  background-position: left;
  display: block;
  margin-left: 70px;
}

.motivo2texto{
  width: 250px;
}

.motivo3{
  display: block;
  height: 100%;
  width: 100%;
  text-align: justify;
  margin: 30px 100px 10px 100px;
}


.motivo3Imagem{
  background-image: url("../img/motivo3.png");
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  background-position: left;
  display: flex;
  margin-left:55px;
}

.motivo3texto{
  width: 250px;
}

.cadastro{
  background-color: #a2d8cb;
  height: 300px;
  width: 100%;
  text-align: center;
}

.cadastro h1{
  padding-top: 50px;
  color: #f9f9f9;
}

.cadastro h1 span{
  font-family: 'Contrail One', cursive;
  color: #7e7e7e;
}

.cadastro form{
  margin: 50px;
}

.cadastro input[type="text"]{
  width: 200px;
  border: 1px solid #7e7e7e;
  border-radius: 20px;
  padding: 5px;
}

.cadastro button{
  width: 100px;
  background-color: #7e7e7e;
  border-radius: 20px;
  padding: 5px;
  color: #f9f9f9;
  border: none;
}

.landing-footer{
  height: 100px;
  text-align: center;
  background-color: #f9f9f9;
  color: #7e7e7e;
}

/*************************
  Tela do Usuário
**************************/
.interfaceNav{
  height: 105px;
  width: 100%;
  background-color: #e7e7e7;
  box-shadow: 2px 2px 10px #7e7e7e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navInterface{
  padding-right: 15px;
  display: flex;
  align-items: center;
}

.logoInterface{
  width: 202px;
  height: 73px;
  padding-left: 15px;
}

.fotoUsuario{
  width: 68px;
  height: 86px;
}

.dadosUsuario{
  padding-left: 5px;
}

.dadosUsuario p span{
  font-weight: bold;
  font-size: 1.2em;
}

.conteudoInterface{
  display: flex;
  min-height: 560px;
}

.menuLateral{
  width: 15%;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 2%;
  font-family: 'Contrail One', cursive;
}

.telaConteudo{
  width: 85%;
  background-color: #f9f9f9;
}

.featureProjeto{
  height: 38px;
  padding-left: 45px;
  background-image: url("../img/projetos.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  font-family: 'Contrail One', cursive;
  font-size: 1.4em;
}

.listaProjetos{
  padding-left: 55px;
}
.listaProjetos ul li{
  color: #95c6bb;
  font-family: 'Contrail One', cursive;
  padding: 2px;
}

.mensagemUsuario{
  height: 38px;
  padding-left: 45px;
  background-image: url("../img/mensagem.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  font-family: 'Contrail One', cursive;
  font-size: 1.4em;
}

.downloadUsuario{
  height: 38px;
  padding-left: 45px;
  background-image: url("../img/download.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  font-family: 'Contrail One', cursive;
  font-size: 1.4em;

  margin-top: 10px;
}

/*************************
  Detalhe de projeto
**************************/

.telaConteudo{
  padding: 30px 30px 0 30px;
}

.telaConteudo h1{
  font-family: 'Contrail One', cursive;
  color: #95c6bb;
}

.timeline{
  padding-top: 30px;
  width:848px;
  margin: auto;
}
.tlDatas{
  display: flex;
  font-family: 'Contrail One', cursive;
  color: #7e7e7e;
}

.tlDataComeco{
  flex-grow: 1;
  text-align: left;
  font-family: 'Contrail One', cursive;
}

.tlDataFinal{
  flex-grow: 1;
  text-align: right;
  font-family: 'Contrail One', cursive;
}

.tlImagem{
  margin-bottom: 50px;
}
.tlHoje{

}

.tlHojeNav{
  display: flex;
  flex-direction: column;
  width: 60px;
}
.setaCima{
  margin: 0 auto;
}

.tlHojeData{
  text-align: center;
}

.tlHojeData p{
  font-family: 'Contrail One', cursive;
  color: #95c6bb;
}

.grupoAtividades{
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.unidadeAtividade{
  display: flex;
  width: 80%;
  margin: 5px auto;
  flex-wrap: wrap;
}

.atvCor{
  width: 5%;
  background-color: aquamarine;
  padding: 10px 0;
}

.atvDescricao{
  width: 65%;
  background-color: #e7e7e7;
  padding: 10px 0;
  font-family: 'Contrail One', cursive;
}

.atvDescricao p{
  font-family: 'Contrail One', cursive;
}

.atvDescricao p span{
  color: #95c6bb;
}

.atvResponsavel{
  width: 30%;
  background-color: #7e7e7e;
  padding: 10px 0;
}

.atvResponsavel p{
  color: #e7e7e7;
  font-family: 'Contrail One', cursive;
  text-align: center;
}

.detalheAtividade{
  background-color: #7e7e7e;
  color: #f9f9f9;
  width: 100%;
  padding: 10px;
  display: block;
}

.subatividades{
  width: 100%;
}

.subatividades p{
  color: #f9f9f9;
}

.subatividades p span{
  font-weight: bold;
  color: #f9f9f9;
}

.tabelasAtividades{
  display: flex;
  color: #f9f9f9;
  justify-content: space-between;
}

.tabelasAtividades table{
  width: 100%;
  color: #f9f9f9;
  text-align: center;
}

.tabelasAtividades th{
  color: #f9f9f9;
  /*text-align: center;*/
}

.tabelasAtividades tr{
  color: #f9f9f9;
}

.tabelasAtividades td{
  color: #f9f9f9;
  /*text-align: center;*/
}

.tblBlue{
  color: #95c6bb !important;
}

.tblBlue span{
  color: #95c6bb !important;
  font-weight: bold;
}

.tblTotal{
  font-weight: bold !important;
  text-align: right !important;
  text-transform: uppercase !important;
}

.tabelaRisco{
  width: 40%;
  color: #f9f9f9;
}

.tabelaRecurso{
  width: 40%;
  color: #f9f9f9;
}

/*************************
Tela de mensagem
*************************/

.mensagemMenu{
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}

.mensagemPonteiro{
  background-image: url('../img/setaDireita.png');
  width:10px;
  height: 13px;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.mensagemLink{
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.mensagemConteudo{
  width: 80%;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.mensagemCabecalho{
  background-color: #7e7e7e;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
}

.mensagemCabecalho h3{
  color: #f9f9f9;
}

.mensagemCabecalho h3 a{
  color: #95c6bb;
}

.remetente{
  width: 25%;
}

.funcao{
  width: 25%;
}

.assunto{
  width:50%;
}

.mensagemUnidade{
 display: flex;
 align-items: center;
 height: 20px;
 padding: 5px;
 width: 100%;
}

.nao-lidas{
 font-weight: bold;
}

.mensagemUnidade:nth-child(2n){
  background-color: #e7e7e7;
}
