@{
    ViewBag.Title = "Home Page";
}

<h1>Título do Projeto</h1>

<div class="timeline">
    <div class="tlDatas">
        <div class="tlDataComeco">
            xx/xx/xx
        </div>
        <div class="tlDataFinal">
            xx/xx/xx
        </div>
    </div>
    <div class="tlImagem">
        <img src="/Content/img/timeline.png" alt="">
    </div>
    <div class="tlHoje">
        <div class="tlHojeNav">
            <div class="setaCima">
                <img src="/Content/img/setaCima.png" alt="">
            </div>
            <div class="tlHojeData">
                <p>xx/xx/xx</p>
            </div>
        </div>

    </div>

</div>

<div class="grupoAtividades">
    <div class="unidadeAtividade">
        <div class="atvCor">
        </div>

        <div class="atvDescricao">
            <p>Tarefa 1 - Do dia <span>xx/xx/xx</span> a <span>xx/xx/xx</span></p>
        </div>

        <div class="atvResponsavel">
            <p>Responsável: Beltrano</p>
        </div>

        <div class="detalheAtividade">
            <div class="subatividades">
                <p><span>Subatividades:</span> Atividade 1, Atividade 2 e Atividade 4</p>
            </div>

            <div class="tabelasAtividades">
                <div class="tabelaRisco">
                    <table>
                        <tr>
                            <th>Risco</th>
                            <th>Probablidade</th>
                            <th>Impacto</th>
                        </tr>
                        <tr>
                            <td>bla bla</td>
                            <td class="tblBlue">4</td>
                            <td class="tblBlue">1</td>
                        </tr>
                    </table>

                </div>
                <div class="tabelaRecurso">
                    <table>
                        <tr>
                            <th>Recurso</th>
                            <th>Quantidade</th>
                            <th>Valor</th>
                        </tr>
                        <tr>
                            <td>bla bla</td>
                            <td class="tblBlue">4</td>
                            <td class="tblBlue">R$xx,xx</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="tblTotal">total</td>
                            <td class="tblBlue"><span>  R$xx,xx</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="unidadeAtividade">
        <div class="atvCor">
        </div>

        <div class="atvDescricao">
            <p>Tarefa 1 - Do dia <span>xx/xx/xx</span> a <span>xx/xx/xx</span></p>
        </div>

        <div class="atvResponsavel">
            <p>Responsável: Beltrano</p>
        </div>
    </div>
</div>